In [10]:
#Load Libraries

import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [11]:
# Load Data
df = pd.read_csv("data/video games sales(Clean).csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,Others,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,Others,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [12]:
df_copy = df.copy()
df_copy.drop(columns=['Rank', 'Name', 'Global_Sales', 'Year', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], inplace=True)

In [18]:
cat_cols = [var for var in df_copy.columns if df_copy[var].dtype == 'O']
cat_cols

['Platform', 'Genre', 'Publisher']

In [19]:
le = LabelEncoder()

for var in cat_cols:
    df_copy[f'{var}_Encode'] = le.fit_transform(df_copy[var])

In [20]:
df_copy.head()

,Platform,Genre,Publisher,Platform_Encode,Genre_Encode,Publisher_Encode
0,Wii,Sports,Nintendo,16,10,10
1,Others,Platform,Nintendo,6,4,10
2,Wii,Racing,Nintendo,16,6,10
3,Wii,Sports,Nintendo,16,10,10
4,Others,Role-Playing,Nintendo,6,7,10