In [5]:
#Load Libraries

import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [6]:
# Load Data
df = pd.read_csv("data/video games sales(Clean).csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,Others,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,Others,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [7]:
df['Platform'].unique()

array(['Wii', 'Others', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA', '3DS',
       'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'PSV', 'SAT'], dtype=object)

In [8]:
df_copy = df.copy()
df_copy.drop(columns=['Rank', 'Name', 'Global_Sales', 'Year', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], inplace=True)

In [9]:
cat_cols = [var for var in df_copy.columns if df_copy[var].dtype == 'O']
cat_cols

['Platform', 'Genre', 'Publisher']

In [10]:
le = LabelEncoder()

for var in cat_cols:
    df_copy[f'{var}_Encode'] = le.fit_transform(df_copy[var])

In [20]:
df_copy.head()

,Platform,Genre,Publisher,Platform_Encode,Genre_Encode,Publisher_Encode
0,Wii,Sports,Nintendo,16,10,10
1,Others,Platform,Nintendo,6,4,10
2,Wii,Racing,Nintendo,16,6,10
3,Wii,Sports,Nintendo,16,10,10
4,Others,Role-Playing,Nintendo,6,7,10

In [54]:
platform_unique = df_copy['Platform'].unique().tolist()
gener_unique = df_copy['Genre'].unique().tolist()
publisher_unique = df_copy['Publisher'].unique().tolist()

In [51]:
def get_encoded_value(column, encode_column, unique_val:list):

    my_dict = {}

    for val in unique_val:
        encode_val = df_copy[df_copy[column] == val][encode_column].iloc[0]

        my_dict[val] = encode_val
    
    return my_dict

In [57]:
platform_encoded_values = get_encoded_value(column='Platform', encode_column='Platform_Encode', unique_val=platform_unique)
gener_encode_values = get_encoded_value(column='Genre', encode_column='Genre_Encode', unique_val=gener_unique)
publisher_encode_values = get_encoded_value(column='Publisher', encode_column='Publisher_Encode', unique_val=publisher_unique)

In [61]:
platform_encoded_values

{'Wii': 16,
 'Others': 6,
 'DS': 2,
 'X360': 18,
 'PS3': 10,
 'PS2': 9,
 'SNES': 15,
 'GBA': 3,
 '3DS': 1,
 'PS4': 11,
 'N64': 5,
 'PS': 8,
 'XB': 19,
 'PC': 7,
 '2600': 0,
 'PSP': 12,
 'XOne': 20,
 'GC': 4,
 'WiiU': 17,
 'PSV': 13,
 'SAT': 14}

In [62]:
gener_encode_values

{'Sports': 10,
 'Platform': 4,
 'Racing': 6,
 'Role-Playing': 7,
 'Puzzle': 5,
 'Misc': 3,
 'Shooter': 8,
 'Simulation': 9,
 'Action': 0,
 'Fighting': 2,
 'Adventure': 1,
 'Strategy': 11}

In [63]:
publisher_encode_values

{'Nintendo': 10,
 'Others': 11,
 'Take-Two Interactive': 16,
 'Sony Computer Entertainment': 13,
 'Activision': 1,
 'Ubisoft': 18,
 'Electronic Arts': 6,
 'Sega': 12,
 'Atari': 2,
 '505 Games': 0,
 'Capcom': 3,
 'Konami Digital Entertainment': 7,
 'Square Enix': 14,
 'Warner Bros. Interactive Entertainment': 20,
 'Eidos Interactive': 5,
 'Namco Bandai Games': 9,
 'THQ': 15,
 'Disney Interactive Studios': 4,
 'Midway Games': 8,
 'Tecmo Koei': 17,
 'Unknown': 19}